body {
    background-color: #f0f0f0;
}
header{
    background-color: blue;
    color: #ffffff;
    padding: 10px;
    
}
main{
    background-color: white;
    margin: 20px;
    padding: 20px;
}
footer {
    background-color:#cccccc;
    text-align: center;
    padding: 10px;

}
h1 {
    color: #0000ff;
    font-size: 24px;
}
p {
    margin: 10px;
    color:#333333;
}
li {
    margin: 5px;
    color:#00ff00;
}